@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');
.aligncenter{
    text-align: center;
}
.body{
    background-color: black;
}
.container{
    margin-top: -1%;
    margin-left: 3%;
    margin-right: 3%;
    display: grid;
    gap: 1%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    color: white;
}
.container2{
    margin-top: 4%;
    margin-left: 3%;
    margin-right: 3%;
    display: grid;
    gap: 1%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    color: white;
}
.movieimg{
    border-radius: 6%;
  
}
.movieidiv{
    margin-top: 10%;
    width: 90%;
    height: auto;
}
.movieslinkstyling{
    text-decoration: none;
}
.movieslinkstyling:link{
    text-decoration: none;
}
.movieslinkstyling:visited{
    text-decoration: none;
}
.movieslinkstyling:active{
    text-decoration: none;
}
.movietitletext{
    font-family: 'Hi Melody', cursive;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 150%;
}
.movietitletext:visited{
    text-decoration: none;
}
.movietitletext:link{
    text-decoration: none;
}
.whitecolor{
    color: white;
}
.Navbar{
    background-color: black;
}
.Homebtncss{
    width: 5%;
    height: auto;
    margin-top: 2%;
    margin-left: 47.5%;
    margin-bottom: 2%;
}
.Searchbtncss{
    position: absolute;
    width: 4%;
    height: auto;
    margin-left: -48%;
    margin-top: 2.7%;
}
.Checkoutbtncss{
    position: absolute;
    width: 4%;
    height: auto;
    margin-left: 39%;
    margin-top: 2.7%;
}
.Mymoviesbtncss{
    position: absolute;
    width: 4%;
    height: auto;
    margin-left: 33%;
    margin-top: 2.7%;
}
.Homebtncss:hover,.Searchbtncss:hover,.Checkoutbtncss:hover,.Mymoviesbtncss:hover {
    opacity: 0.7;
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.Homebtncss:active,.Searchbtncss:active,.Checkoutbtncss:active,.Mymoviesbtncss:active {
    opacity: 0.3;
    transition-duration: 0.2s;
}
.Searchinput{
    font-family: 'Hi Melody', cursive;
    font-size: 250%;
    margin-top: 3%;
    width: 40%;
    text-align: center;
    color: white;
    background-color: black;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
}
.Searchinput:focus, textarea {
    outline: none !important;
}
.moviediv{
    height: auto;
    width: auto;
   
  
  }
  .checkContent{
    display: grid;
    gap: 1%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .addbutton , .removebutton {
    width: 40%;
  }
  .addbutton:hover, .removebutton:hover{
    opacity: 0.7;
    transform: scale(1.2);
    transition-duration: 0.5s;
  }
  .addbutton:active , .removebutton:active{
    opacity: 0.3;
    transition-duration: 0.2s;
  }
  .addbutton:visited{
    opacity: 0;
    transition-duration: 0.2s;
  }
  .payButton{
    margin-top: 30px;
    width: 250px;
    height: 30px;
    background-color: rgb(163, 6, 6);
    border-radius: 0.5em;
    color: aliceblue;
    
    

  }
  .payButton:hover{
    background-color: rgb(209, 14, 14);
  }
  .payButton:active{
      background-color: rgb(255, 0, 0);
  }
  .Cardmovie{
        margin: auto;
        width: 90%;
        padding: 5px;
        border-radius: 1em;
        align-content: center;
    
  }
  .center{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .category{
    margin-top: -3%;
    margin-left: 45%;
    margin-bottom: 2%;
    text-align-last:center;
    width: 10%;
    border: none;
    background-color: black;
    color: white;
    font-family: 'Hi Melody', cursive;
    font-size: 150%;
}
.category:focus {
    outline: 0;
}

  @media  screen and (min-width: 500px) and (max-width: 750px){
    .checkContent,.container2,.container{
      grid-template-columns: 1fr 1fr ;
    }
}
@media  screen and  (max-width: 500px) {
    .checkContent,.container2,.container{
      grid-template-columns: 1fr ;
    }
}
@media  screen and (min-width: 1600px) {
    .checkContent,.container2,.container{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media  screen and (max-width: 1600px) and (min-width: 1300px){
    .checkContent,.container2,.container{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    }
}
@media  screen and (max-width: 1300px) and (min-width: 1000px)  {
    .checkContent,.container2,.container{
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media  screen and (max-width: 1000px) and (min-width: 750px) {
    .checkContent,.container2,.container{
      grid-template-columns: 1fr 1fr 1fr;

    }
 
}